<div class="grid-wrapper">
    <p>
        баскетбол
    </p>

    <img src="assets/images/basket.jpg">

    <p>
        футбол
    </p>

    <img src="assets/images/football.jpg">

    <p>
        большой теннис
    </p>

    <img src="assets/images/tennis.jpg">

    <p>
        гандбол
    </p>

    <img src="assets/images/gandball.jpg">

    <p>
        крикет
    </p>

    <img src="assets/images/kriket.jpg">

    <p>
        плавание
    </p>

    <img src="assets/images/swiming.jpg">

    <p>
        лёгкая атлетика
    </p>

    <img src="assets/images/athlet.jpg">

    <p>
        бег
    </p>

    <img src="assets/images/run.jpg">

    <p>
        спортивное ориентирование
    </p>

    <img src="assets/images/orientir.jpg">

    <p>
        греко-римская борьба
    </p>

    <img src="assets/images/cmonleatherhad.jpg">

    <p>
        бокс
    </p>

    <img src="assets/images/box.jpg">

    <p>
        кик-боксинг
    </p>

    <img src="assets/images/kikbox.jpg">

    <p>
        армейский рукопашный бой
    </p>

    <img src="assets/images/arb.jpg">

    <p>
        военно-тактические игры( страйкбол, пейнтбол )
    </p>

    <img src="assets/images/paint.jpg">

    <p>
        кёрлинг
    </p>

    <img src="assets/images/kerling.jpg">

    <p>
        хокей
    </p>

    <img src="assets/images/hockey.jpg">

    <p>
        горные лыжи
    </p>

    <img src="assets/images/lijy.jpg">

    <p>
        сноубординг
    </p>

    <img src="assets/images/snowboard.jpg">

    <p>
        фигурное катание
    </p>

    <img src="assets/images/figurnoe.jpg">

    
</div>